# Ignore node_modules folders
node_modules/

# Ignore specific environment files
.env

# Ignore log files
*.log

# Ignore build artifacts
build/

# Comment out or remove the following lines to include admin and backend folders
# admin
# backend
