.header {
    height: 34vw;
    margin: 30px auto;
    background: url("../../../public/header_img.jpg") no-repeat tomato;
    background-size: cover;
    position: relative;
    border-radius: 10px;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5vw;
    max-width: 45%;
    bottom: 16%;
    left: 6vw;
    animation: fadeIn 2.5s;
    text-align: left;/* Ensure text alignment is left */
}

.header-contents h2, .header-contents p, .header-contents button {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
}

.header-contents h2 {
    font-weight: 600;
    color: white;
    font-size: max(4.1vw, 22px);
}

.header-contents p {
    color: white;
    font-size: 1.1vw;
}

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    cursor: pointer;
    width: 250px;
}

.header-contents button:hover {
    transform: scale(1.1);
}

@media (max-width: 1050px) {
    .header-contents {
        max-width: 35%;
        left: 5vw; /* Adjust left alignment for smaller screens */
        gap: 15px;
    }
    .header-contents h2 {
        font-size: max(3.0vw, 20px);
    }
    .header-contents p {
        font-size: 1.5vw;
    }
    .header-contents button {
        padding: 1.5vw 3vw;
        font-size: max(1.5vw, 14px);
        /* width: 130px; */
    }
}

@media (max-width: 750px) {
    .header {
        height: 50vw;
    }
    .header-contents {
        max-width: 45%;
        gap: 40px;
    }
    .header-contents h2 {
        font-size: max(4vw, 18px);
    }
    .header-contents p {
        display: none; /* Hide paragraph on smaller screens */
    }
    .header-contents button {
        padding: 2vw 4vw;
        font-size: max(2vw, 15px);
        width: 140px;
    }
}

@media (max-width: 500px) {
    .header {
        height: 60vw;
    }
    .header-contents {
        max-width: 100%;
        left: 5vw; /* Adjust left alignment for very small screens */
        width: 150px;
    }
    .header-contents h2 {
        font-size: max(4.5vw, 16px);
    }
    .header-contents button {
        padding: 3vw 5vw;
        font-size: max(2.5vw, 14px);
        width: 130px;
    }
}
